
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: Jaldi;
}
.row{
  background-color: rgb(165, 152, 152);
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  border: green 1px solid;
}
.header{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(6, 6, 73);
  color: white;
}