*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Jaldi;
    padding-left: 30px;
    padding-right: 30px;
    background: fixed;
}
.header{
  display: flex;
  color: white;
  background-color: rgb(8, 133, 236);
}
.navbar{
  font-style: italic;
  display: inline-block;
  color: white;
  border: none;
}
.navbar-brand{
  font-size: larger;
  color: white;
}
.navbar ul{
 display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.navbar ul a{
  text-decoration: none;
  color: white;
}
.card-columns{
  display: inline-block;
  
}
.card-body{
  border: 0.5px solid rgb(230, 226, 226);
}
.container-fluid{
  padding-top: 35px;
}
.footer{
  background-color: rgb(92, 92, 97);
  color: white;
}
.container-fluid h1{
  color: red;
}