*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Jaldi;
    padding-left: 35px;
}
.header h1{
  font-size: xx-larger;
  color: white;
}
.header{
  color: white;
}
.links{
  font-style: italic;
  list-style: none;
  text-decoration: none;

}
.links ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.links ul a{
  text-decoration: none;

}
.links li{
  margin: 4px;
  color: white;
}
.card-columns{
  display: inline-block;
  
}
.card-body{
  border: 0.5px solid rgb(230, 226, 226);
}