
{% macro displayNewsList(news_list) %}
{% for news_row in news_list |batch(4)%}
<div class="row">
	{% for news in news_row %}
	<div class="col-md-6" style="border: 1px solid rgb(177, 171, 171); border-radius: 10px; margin: 1px; width: 48%; height: 190px;" >
		<div>
			<h3>{{ articles.title}}</h3>
		</div>
		<div>
			<p>
				{{ article.description}}
			</p>
			<a href="/articles/{{news.id}}"><button type="button" class="btn btn-outline-primary">View {{ news.name}} articles</button></a>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}
{% endmacro %}