<div class="container-fluid">
  <div class="navbar navbar-inverse role=navigation" >
      <div class="header">
            <h1> <a class="navbar-brand " href="/"> NEWSWAVE</a> </h1>
        <div class="nav" id="navbarNav">
            <ul class="navbar links">
                <li><a href="/">General News</a></li>
                <li><a href="/">Business</a></li>
                <li><a href="/">Health</a></li>
                <li><a href="/">Sports</a></li>
                <li><a href="/">Entertainment</a></li>
            </div>
        </div>
   </div>
</div>
